[flake8]
exclude = "venv"
ignore = E203, E501, W503, E226
max-line-length = 88
# E203: whitespace before ':' ()
# E501: Line too long
# W503: Line break occurred before binary operator
# E226: Missing white space around arithmetic operator
