{
  "benchmark_name": "rakuda_v3",
  "models": {
    "local_models": [
      {
        "id": "line-1.7b",
        "path": "line-corporation/japanese-large-lm-1.7b-instruction-sft",
        "conversation_template": "/teamplates/line.json"
      }
    ],
    "api_models": [
      {
        "id": "gpt-3.5-turbo",
        "path": "gpt-3.5-turbo"
      },
      {
        "id": "gpt-4-turbo",
        "path": "gpt-4-turbo-preview"
      }
    ],
    "judge_models": [
      {
        "id": "gpt-4",
        "path": "gpt-4"
      }
    ],
    "baseline_model": "gpt-3.5-turbo"
  },
  "max_token_length": 1024,
  "temperature": 0,
  "num_judges": 1000,
  "evaluation_mode": "pairwise-n",
  "repetition_penalty": 1.05,
  "top_p": 0.95,
  "num_choices": 1
}
